
 @{
	var applications = ViewBag.Applications as List<Dev.LeaveApplication.Web.Models.ApprovalEditViewModel>;
 }

<h3>Leave Application List</h3>


<table id="approvalTable" class="table table-bordered">

	<thead>
		<tr>

			<th>Application Id</th>
			<th>Employee Name</th>
			<th>Start Date and Time</th>
			<th>End Date and Time</th>
			<th>Justification</th>
			<th>Status</th>
			<th>Created Date</th>
			<th>Actions</th>

		</tr>
	</thead>

	<tbody>

		@if (applications != null)
		{
			@foreach (var itm in applications)
			{
				<tr>
					<td>@itm.ApplicationId</td>
					<td>@itm.EmployeeName</td>
					<td>@itm.StartDatetime</td>
					<td>@itm.EndDatetime</td>
					<td>@itm.Justification</td>
					<td>@itm.Status</td>
					<td>@itm.CreatedDate</td>
					<td>
						<button class="btn btn-success btn-sm approveButton" type="button" data-id="@itm.ApplicationId">Approve</button>
						<button class="btn btn-danger btn-sm rejectButton" type="button" data-id="@itm.ApplicationId">Reject</button>
					</td>
				</tr>
			}
		}

	</tbody>

</table>


<script>
	$(document).ready(function() {
		$('.approveButton').on('click', function() {
			var applicationId = $(this).data('id');

			console.log(applicationId);

			$.ajax({
				url: '@Url.Action("ApproveForm", "Home")',
				type: 'POST',
				data: JSON.stringify(applicationId),
				contentType: 'application/json',
				success: function(data) {
					location.reload();
				},
				error: function(xhr, status, error) {
				}
			});
		});

		$('.rejectButton').on('click', function() {
			var applicationId = $(this).data('id');
			$.ajax({
				url: '@Url.Action("RejectForm", "Home")',
				type: 'POST',
				data: JSON.stringify(applicationId),
				contentType: 'application/json',
				success: function(data) {
					location.reload();
				},
				error: function(xhr, status, error) {
				}
			});
		});
	});
</script>




