@using Dev.LeaveApplication.Data.Shared;

 @{
	var applications = ViewBag.Applications as List<Dev.LeaveApplication.Web.Models.ApprovalEditViewModel>;
 }

<h3>Leave Application List</h3>

<div class="ms-auto mb-3" style="width:30%;">
	<input class="form-control" id="searchInput" type="text" placeholder="Search..">
</div>


<table class="table table-bordered">

	<thead>
		<tr>

			<th width="10%">Application Id</th>
			<th>Employee Name</th>
			<th width="11%">Start Date and Time</th>
			<th width="11%">End Date and Time</th>
			<th width="20%">Justification</th>
			<th>Status</th>
			<th width="11%">Created Date</th>
			<th width="12%">Actions</th>

		</tr>
	</thead>

	<tbody id="approvalTable">

		@if (applications != null)
		{
			@foreach (var itm in applications)
			{
				<tr>
					<td style="text-transform:uppercase;">@itm.ApplicationId</td>
					<td>@itm.EmployeeName</td>
					<td>@itm.StartDatetime</td>
					<td>@itm.EndDatetime</td>
					<td>@itm.Justification</td>
					<td>@itm.Status</td>
					<td>@itm.CreatedDate</td>
					<td>
						<button class="btn btn-success btn-sm approveButton" type="button" data-id="@itm.ApplicationId" 
							disabled="@(!itm.Status.Equals(LeaveStatus.Submitted) || DateTime.Today > itm.StartDatetime.Date)">
							Approve
						</button>
						<button class="btn btn-danger btn-sm rejectButton" type="button" data-id="@itm.ApplicationId" 
							disabled="@(!itm.Status.Equals(LeaveStatus.Submitted) || DateTime.Today > itm.StartDatetime.Date)">
							Reject
						</button>
					</td>
				</tr>
			}
		}

	</tbody>

</table>


<script>
	$(document).ready(function() {
		$('.approveButton').on('click', function() {
			var applicationId = $(this).data('id');

			console.log(applicationId);

			$.ajax({
				url: '@Url.Action("ApproveForm", "Home")',
				type: 'POST',
				data: JSON.stringify(applicationId),
				contentType: 'application/json',
				success: function(data) {
					location.reload();
				},
				error: function(xhr, status, error) {
				}
			});
		});

		$('.rejectButton').on('click', function() {
			var applicationId = $(this).data('id');
			$.ajax({
				url: '@Url.Action("RejectForm", "Home")',
				type: 'POST',
				data: JSON.stringify(applicationId),
				contentType: 'application/json',
				success: function(data) {
					location.reload();
				},
				error: function(xhr, status, error) {
				}
			});
		});

		$("#searchInput").on("keyup", function() {
		  var value = $(this).val().toLowerCase();

		  $("#approvalTable tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		  });
		});
	});
</script>




