@model List<Dev.LeaveApplication.Web.Models.ApprovalEditViewModel>;


<h3>Leave Application List</h3>


<table id="approvalTable" class="table table-bordered">

	<thead>
		<tr>

			<th>Application Id</th>
			<th>Employee Name</th>
			<th>Start Date and Time</th>
			<th>End Date and Time</th>
			<th>Justification</th>
			<th>Status</th>
			<th>Created Date</th>
			<th>Actions</th>

		</tr>
	</thead>

	<tbody>

		@foreach (var itm in Model)
		{
			<tr>
				<td>@itm.ApplicationId</td>
				<td>@itm.EmployeeName</td>
				<td>@itm.StartDatetime</td>
				<td>@itm.EndDatetime</td>
				<td>@itm.Justification</td>
				<td>@itm.Status</td>
				<td>@itm.CreatedDate</td>
				<td>
					<button class="btn btn-success btn-sm" type="submit">Approve</button>
					<button class="btn btn-danger btn-sm" type="submit">Reject</button>
				</td>
			</tr>
		}

	</tbody>


</table>



