@using Dev.LeaveApplication.Data.Shared;
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";

    var applications = ViewBag.EmployeeApplications as List<Dev.LeaveApplication.Web.Models.ApprovalEditViewModel>;
    var maximumLeave = Configuration.GetValue<int>("Leaves:Maximum");
    var usedLeave = applications.Where(x => x.Status.Equals(LeaveStatus.Approved)).Count();
    var balanceLeave = maximumLeave - usedLeave;
}

<div>

    <h2>MY LEAVE PAGE</h2><br/>

    <div class="mb-3" style="padding-left: 15px;">
        <h4>Total leave: @maximumLeave day(s)</h4>
        <h4>Used leave: @usedLeave day(s)</h4>
        <h4>Remaining leave: @balanceLeave day(s)</h4>
    </div>

    
    <h3>My Leave Applications</h3>

    <div class="ms-auto mb-3" style="width:30%;">
        <input class="form-control" id="searchInput" type="text" placeholder="Search..">
    </div>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th width="10%">Application Id</th>
                <th width="11%">Start Date and Time</th>
                <th width="11%">End Date and Time</th>
                <th>Justification</th>
                <th width="15%">Manager Name</th>
                <th width="10%">Status</th>
                <th width="11%">Created Date</th>
                <th width="10%">Action</th>
            </tr>
        </thead>

        <tbody id="leaveTable">

            @if(applications != null)
            {
                @foreach(var itm in applications)
                {
                    <tr>
						<td style="text-transform:uppercase;">@itm.ApplicationId</td>
						<td>@itm.StartDatetime</td>
						<td>@itm.EndDatetime</td>
						<td>@itm.Justification</td>
                        <td>@itm.ManagerName</td>
						<td>@itm.Status</td>
						<td>@itm.CreatedDate</td>
                        <td>
                            <button class="btn btn-danger btn-sm withdrawButton" type="button" data-id="@itm.ApplicationId" 
                                disabled="@(
                                    (DateTime.Today > itm.StartDatetime.Date)
                                    || (DateTime.Today <= itm.StartDatetime.Date
                                       && itm.Status.Equals(LeaveStatus.Rejected)
                                    || itm.Status.Equals(LeaveStatus.Withdrawn))
                                    )">
                                Withdraw
                            </button>
                        </td>
                    </tr>
                }
            }

        </tbody>

    </table>

</div>




<script>
	$(document).ready(function() {
        $('.withdrawButton').on('click', function() {
			var applicationId = $(this).data('id');

			console.log(applicationId);

			$.ajax({
				url: '@Url.Action("WithdrawForm", "Home")',
				type: 'POST',
				data: JSON.stringify(applicationId),
				contentType: 'application/json',
				success: function(data) {
					location.reload();
				},
				error: function(xhr, status, error) {
				}
			});
		});

		$("#searchInput").on("keyup", function() {
		  var value = $(this).val().toLowerCase();

          $("#leaveTable tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		  });
		});
	});
</script>